.facebook__like {
  padding: 0;
  border: none;
  background: none;
  background-image: url("../../../images/like.svg");
  background-repeat: no-repeat;
  min-height: 19px;
  min-width: 21px;
  cursor: pointer;
  margin-left: auto;
  transition: all 0.5s;
}

.facebook__like:hover {
  opacity: 0.5;
}
