.modal__button-save {
  cursor: pointer;
  margin-top: 48px;
  min-width: 358px;
  min-height: 50.15px;
  border: none;
  color: white;
  background: #000;
  border-radius: 2px;
}

.modal__button-save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 879px) {
  .modal__button-save {
    min-width: 238px;
  }
}
