.facebook {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 46.25px;
  column-gap: 17px;
  row-gap: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width: 879px) {
  .facebook {
    margin: 0 auto;
    justify-content: center;
  }
}
