@import url("./vendor/normalize.css");
@import url("./fonts/fonts.css");

.modal {
  position: absolute;
  min-width: 100%;
  height: 100%;
}

.modal__hidden {
  display: none;
}

.modal__overlay {
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background: #000;
  opacity: 0.5;
}

.modal__form {
  color: #000;
  min-width: 430px;
  min-height: 330px;
  margin: 0 auto;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.modal__content {
  max-width: 358px;
  margin: 34px auto 36.51px auto;
}

.modal__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__name {
  outline: none;
  min-width: 358px;
  margin-top: 54px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__name:placeholder-shown {
  border-bottom: 1px solid #000; /* Red border only if the input is empty */
}

.modal__whois {
  outline: none;
  min-width: 358px;
  margin-top: 54px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__whois:placeholder-shown {
  border-bottom: 1px solid #000; /* Red border only if the input is empty */
}

.modal__button-save {
  cursor: pointer;
  margin-top: 48px;
  min-width: 358px;
  min-height: 50.15px;
  border: none;
  color: white;
  background: #000;
  border-radius: 2px;
}

.modal__button-save:hover {
  opacity: 0.8;
}

.modal__button-close {
  cursor: pointer;
  position: absolute;
  right: -48.25px;
  top: -48.25px;
  min-height: 48.25px;
  min-width: 48.25px;
  transform: rotate(-45deg);
}

.modal__button-close:hover {
  opacity: 0.6;
}

.modal__close-image {
  min-height: 40px;
  min-width: 40px;
}

.page {
  max-width: 100vw;
  min-height: 100vh;
  background: #000;
  color: white;
  font-family: Inter;
}

.header {
  margin: 45px auto 36.25px auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
  min-height: 74px;
}

.header__logo {
}

.content {
  max-width: 880px;
  margin: 0 auto;
}

.profile {
  display: flex;
  align-items: center;
}

.profile__photo {
  max-width: 120px;
  min-height: 120px;
  border-radius: 50%;
}

.profile__button-add {
  cursor: pointer;
  background: #000;
  color: white;
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: 165px;
}

.info {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.info__container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.info__button-edit {
  cursor: pointer;
  margin-left: 18px;
  max-width: 24px;
  max-height: 24px;
  background: #000;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.info__name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.info__whois {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.facebook {
  margin-top: 46.25px;
  column-gap: 17px;
  row-gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.facebook__card {
  max-width: 282px;
  min-height: 361px;
  background: #fff;
  border-radius: 10px;
}

.facebook__image {
  max-width: 282px;
  min-height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.facebook__footer {
  max-width: 282px;
  min-height: calc(361px - 282px);
  color: #000;
  display: flex;
  align-items: center;
  margin-left: 21px;
  margin-right: 15px;
}

.facebook__name {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.footer {
  max-width: 880px;
  margin: 0 auto;
}

.footer__like {
  cursor: pointer;
  margin-left: auto;
}

.footer__author {
  margin: 68px 0 60px 0;
  max-width: 318px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #545454;
}

@media screen and (max-width: 879px) {
  .modal {
    min-height: 100%;
  }
  .modal__button-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: calc(-68.24px + 13.62px);
  }
  .modal__form {
    min-width: 282px;
    top: calc(282px / 2 + 123px);
  }
  .modal__content {
    max-width: 238px;
    margin: 25px auto 25px auto;
  }
  .modal__name {
    min-width: 238px;
  }
  .modal__whois {
    min-width: 238px;
  }
  .modal__button-save {
    min-width: 238px;
  }
  .header {
    margin-left: 27px;
  }
  .profile {
    flex-direction: column;
  }
  .profile__photo {
    margin-bottom: 30px;
  }
  .info {
    margin-left: 0;
  }
  .info__name {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }
  .info__whois {
    text-align: center;
  }
  .info__container {
    margin-bottom: 14px;
  }
  .profile__button-add {
    margin: 36px auto 36px auto;
    min-width: 282px;
  }
  .facebook {
    margin: 0 auto;
    justify-content: center;
  }
  .footer {
    margin-left: 19px;
  }
}
