.modal__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 879px) {
  .modal__title {
    min-width: 238px;
    font-size: 18px;
    line-height: 22px;
  }
}
