.info__name {
  margin: 0;
  max-width: calc(880px - 150px - 120px - 100px);
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 879px) {
  .info__name {
    max-width: calc(282px - (320px - 282px));
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }
}
