.info__name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media screen and (max-width: 879px) {
  .info__name {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }
}
