.modal__input {
  outline: none;
  min-width: 358px;
  margin-top: 43px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input:nth-of-type(1) {
  margin-top: 54px;
}

@media screen and (max-width: 879px) {
  .modal__input {
    margin-top: 40px;
    min-width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
  .modal__input:nth-of-type(1) {
    margin-top: 40px;
  }
}
