.profile__button-add {
  cursor: pointer;
  background: #000;
  color: white;
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: 165px;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 879px) {
  .profile__button-add {
    margin: 36px auto 36px auto;
    min-width: 282px;
  }
}
