.facebook__delete {
    position: absolute;
    top: 18px;
    right: 15px;
    padding: 0;
    border: none;
    background: none;
    background-image: url("../../../images/delete.svg");
    background-repeat: no-repeat;
    min-height: 19.3px;
    min-width: 18px;
    cursor: pointer;
    margin-left: auto;
    transition: all 0.5s;
  }
  
  .facebook__delete:hover {
    opacity: 0.5;
  }